# QT Builds
build-*

# Prevent executables
*.exe

# User configuration
*.user

# raylib file
# *.dsym

# CMake Projects
CMake_*/.vscode
CMake_*/build

# Exclude Files
desktop.ini
folder.ico
raylib_Move_as_mouse